@page "/environments"
@inject ScaleStoreApiService ScaleStoreApiService
@inject ProjectPreferenceApiService ProjectPreferenceApiService
@inject ILogger<EnvironmentList> Logger
@attribute [StreamRendering(true)]


<h3>Environments</h3>

@if (Environments is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Environment Name
                </th>
                <th>
                    Project Name
                </th>
            </tr>
        </thead>
        <tbody>

            @if (Environments is not null)
            {
                @foreach (var environment in Environments)
                {
                    <tr>
                        <td>@environment.EnvironmentName</td>
                        <td>
                            @environment.ProjectName
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@code {
    List<EnvironmentTableRow>? Environments = null;
    int ProjectId;

    protected override async Task OnInitializedAsync()
    {
        await InitializeData();
    }

    async Task InitializeData()
    {
        var projectPreference = await ProjectPreferenceApiService.GetProjectPreference(1);
        ProjectId = projectPreference.ProjectId;


        Environments = await ScaleStoreApiService.GetEnvironments(ProjectId);
        Logger.LogDebug("Environments: {0}", Environments);
    }
}