@page "/environments"
@inject ScaleStoreApiService httpService
@inject ILogger<EnvironmentList> logger
@attribute [StreamRendering(true)]


<h3>Environments</h3>

@if (environments is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Environment Name
                </th>
                <th>
                    Project Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var environment in environments)
            {
                <tr>
                    <td>@environment.EnvironmentName</td>
                    <td>
                        @environment.ProjectName
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {


    private List<EnvironmentTableRow>? environments = null;


    protected override async Task OnInitializedAsync()
    {
        environments = await httpService.GetEnvironments(1);
        logger.LogDebug("Environments: {0}", environments);

    }
}