@page "/projects"
@inject ScaleStoreApiService httpService
@inject ILogger<Projects> logger


<h3>Projects</h3>

@if (projects is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Project Name</th>
                <th># of Environments</th>
                <th># of Aplications</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in projects)
            {
                <tr>
                    <td>@project.name</td>
                    <td>@project.numberOfEnvironments</td>
                    <td>@project.numberOfApplications</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {


    private List<ProjectsListModel> projects = null;

    protected override async Task OnInitializedAsync()
    {
        projects = await httpService.GetProjects();
        logger.LogDebug("Projects: {0}", projects);

    }

    private void EditProject(int projectId)
    {
        // Navigate to edit page
    }

    private void DeleteProject(int projectId)
    {
        // Confirm and delete project
    }
}
