@page "/projects"
@inject ScaleStoreApiService httpService
@inject NavigationManager NavigationManager
@inject ILogger<Projects> logger
@attribute [StreamRendering(true)]
@rendermode InteractiveServer


<h3>Projects</h3>

<button class="btn btn-primary px-4 rounded-2 " @onclick="GotoCreateProject">
    Create
</button>

@if (projects is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Project Name</th>
                <th># of Environments</th>
                <th># of Aplications</th>
            </tr>
        </thead>
        <tbody>
            @{
                int rowIndex = 0;
                foreach (var project in projects)
                {
                    <tr data-test-id="@($"project-row-{rowIndex}")">
                        <td>@project.Name</td>
                        <td>@project.NumberOfEnvironments</td>
                        <td>@project.NumberOfApplications</td>
                    </tr>
                    rowIndex++;
                }
            }
        </tbody>
    </table>
}

@code {


    private List<ProjectTableRow>? projects = null;

    protected override async Task OnInitializedAsync()
    {
        projects = await httpService.GetProjects();
        logger.LogDebug("Projects: {0}", projects);

    }


    void GotoCreateProject()
    {
        NavigationManager.NavigateTo("/projects/create");
    }
}
