@page "/scaling-configurations"
@rendermode InteractiveAuto
@attribute [StreamRendering(true)]
@using System.Text.Json
@inject ScaleStoreApiService ScaleStoreApiService
@inject ProjectPreferenceApiService ProjectPreferenceApiService
@inject ILogger<ScalingConfigurations> Logger

<PageTitle>
    Scale Configurations For Project @ProjectId
</PageTitle>

<h3>Scaling Configurations</h3>

<button class="btn btn-primary mb-4 ">
    Create
</button>

@if (PageData is not null)
{
    @foreach (var scalingConfigurationTable in PageData)
    {
        <h4>@scalingConfigurationTable.EnvironmentName</h4>

        <table class="table">
            <thead>
                <tr>
                    <th>Application Name</th>
                    <th>Number of Instances</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in scalingConfigurationTable.ScalingConfigurationList)
                {
                    <tr>
                        <td>@row.ApplicationName</td>
                        <td>@row.NumberOfInstances</td>
                        <td>
                            <button class="btn btn-danger btn-small" @onclick="async () => await DecrementScalingConfiguration(row.Id)"> - </button>
                            <button class="btn btn-success btn-small" @onclick="async () => await IncrementScalingConfiguration(row.Id)"> + </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    private List<ScalingConfigurationTableRow>? ScalingConfigurationList = null;
    private int ProjectId;

    List<ScalingConfigurationTable> PageData => ScalingConfigurationList is not null ? FormatDataForTables(ScalingConfigurationList) : new();

    protected override async Task OnInitializedAsync()
    {
        await InitializePageData();
    }

    async Task InitializePageData()
    {
        var projectPreference = await ProjectPreferenceApiService.GetProjectPreference(1);
        ProjectId = projectPreference.ProjectId;

        ScalingConfigurationList = await ScaleStoreApiService.GetScalingConfigurations(ProjectId) ?? new();
        Logger.LogDebug("Scaling Configurations: {0}", ScalingConfigurationList);

        FormatDataForTables(ScalingConfigurationList);
    }

    List<ScalingConfigurationTable> FormatDataForTables(List<ScalingConfigurationTableRow> tableRows)
    {
        // Group the tableRows by EnvironmentName
        var groupedByEnvironment = tableRows.GroupBy(row => row.EnvironmentName);

        // Create a list of ScalingConfigurationTable
        var scalingConfigurationTables = new List<ScalingConfigurationTable>();

        foreach (var group in groupedByEnvironment)
        {
            // Create a list of TableRow for each group
            var tableRowsList = group.Select(row => new TableRow
                {
                    Id = row.Id,
                    ApplicationName = row.ApplicationName,
                    NumberOfInstances = row.NumberOfInstances,

                })
                .OrderBy(row => row.ApplicationName)
                .ToList();

            // Add the group to the list of ScalingConfigurationTable
            scalingConfigurationTables.Add(new ScalingConfigurationTable
                {
                    EnvironmentName = group.Key,
                    ScalingConfigurationList = tableRowsList
                });
        }


        return scalingConfigurationTables
            .OrderBy(table => table.EnvironmentName)
            .ToList();
    }

    public class TableRow
    {
        public int Id { get; set; }
        public string ApplicationName { get; set; } = null!;
        public int NumberOfInstances { get; set; }
    }


    public class ScalingConfigurationTable
    {
        public string EnvironmentName { get; set; } = null!;

        public List<TableRow> ScalingConfigurationList { get; set; } = null!;
    }

    public class ScalingConfigurationPageData
    {
        public List<ScalingConfigurationTable> ScalingConfigurationTables { get; set; } = null!;
    }



    async Task IncrementScalingConfiguration(int scalingConfigId)
    {
        // Find the scaling configuration with the given id
        var scalingConfiguration = ScalingConfigurationList.FirstOrDefault(scalingConfig => scalingConfig.Id == scalingConfigId) ?? new();


        // Increment the number of instances
        var newNumberOfInstances = scalingConfiguration.NumberOfInstances + 1;


        // Update the scaling configuration
        scalingConfiguration.NumberOfInstances = newNumberOfInstances;

        var requestBody = new UpdateScalingConfigurationRequest
        {
            ApplicationID = 0,
            EnvironmentID = 0,
            ScalingID = scalingConfigId,
            NumberOfInstances = newNumberOfInstances
        };

        Logger.LogInformation("UpdateScalingConfigurationRequest: {0}", JsonSerializer.Serialize(requestBody));

        // Update the UI
        await ScaleStoreApiService.UpdateScalingConfiguration(requestBody);

        StateHasChanged();
    }

    async Task DecrementScalingConfiguration(int scalingConfigId)
    {
        // Find the scaling configuration with the given id
        var scalingConfiguration = ScalingConfigurationList?.FirstOrDefault(scalingConfig => scalingConfig.Id == scalingConfigId) ?? new();

        // Decrement the number of instances
        var newNumberOfInstances = scalingConfiguration.NumberOfInstances - 1;

        // Update the scaling configuration
        scalingConfiguration.NumberOfInstances = newNumberOfInstances;


        var requestBody = new UpdateScalingConfigurationRequest
        {
            ApplicationID = 0,
            EnvironmentID = 0,
            ScalingID = scalingConfigId,
            NumberOfInstances = newNumberOfInstances
        };

        Logger.LogInformation("UpdateScalingConfigurationRequest: {0}", JsonSerializer.Serialize(requestBody));

        // Update the UI
        await ScaleStoreApiService.UpdateScalingConfiguration(requestBody);

        StateHasChanged();
    }

}