@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject ILogger<MainLayout> Logger

<div class="page">
    <div class="sidebar">
        <NavMenu @rendermode="InteractiveServer" />
    </div>
    <main>
        @if(ShowSelectProject)
        {
            <TopRow @rendermode="InteractiveServer" />
        }
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>



@code {

    bool ShowSelectProject = false;

    protected override void OnInitialized()
    {
        ShouldRouteShowSelectProject();
    }

    void ShouldRouteShowSelectProject()
    {
        var currentRoute = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);

        if (currentRoute == "applications" || currentRoute == "environments" || currentRoute == "scaling-configurations")
        {
            ShowSelectProject = true;
        }
    }


}
