@using PreferenceDTO
@using Microsoft.AspNetCore.Components.Server.Circuits
@inject ProjectPreferenceStateService projectPreferenceStateService
@inject ILogger<TopRow> logger
@code {

    bool initialRequestLoading = true;
    private List<ProjectName> listOfProjects = null!;
    private ProjectName selectedProject = new();

    protected override async Task OnInitializedAsync()
    {
        var projectPreference = await projectPreferenceStateService.GetProjectPreference(1,"abc");

        initialRequestLoading = false;

        selectedProject = projectPreference;

        listOfProjects = await projectPreferenceStateService.GetProjectNames(1);
    }
    
}



<div class="top-row px-4">
    <div class="m-3 top-row-items">
        <h5 class="text-primary">Select a Project</h5>
        <p>Select from the list to view project details:</p>

        @if (initialRequestLoading)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <select class="form-select" @bind="selectedProject.Id">
                @foreach (var project in listOfProjects)
                {
                    <option value="@project.Id">@project.Name</option>
                }
            </select>
        }

      
    </div>
</div>
