@using PreferenceDTO
@using System.Text.Json;
@inject ProjectPreferenceApiService projectPreferenceApiService
@inject ScaleStoreApiService scaleStoreApiService
@inject ILogger<TopRow> logger



@code {


    bool initialRequestLoading = true;

    private ProjectPreference projectPreferenceApiResponse = null!;
    private List<ProjectName> listOfProjects = null!;
    private ProjectName selectedProject = new();

    protected override async Task OnInitializedAsync()
    {
        projectPreferenceApiResponse = await projectPreferenceApiService.GetProjectPreference(1) ?? new();
        initialRequestLoading = false;

        var projectPreferenceJson = JsonSerializer.Serialize(projectPreferenceApiResponse, new JsonSerializerOptions { WriteIndented = true });
        logger.LogInformation("ProjectPreference: {ProjectPreferenceJson}", projectPreferenceJson);


        listOfProjects = await scaleStoreApiService.GetListOfProjectNames(1) ?? new List<ProjectName>();

        var listOfProjectsJson = JsonSerializer.Serialize(listOfProjects, new JsonSerializerOptions { WriteIndented = true });
        logger.LogInformation("ListOfProjects: {ListOfProjectsJson}", listOfProjectsJson);


        // Iterate through the list of projects and find the one that matches the projectPreference
        // If found, set the selectedProject to that project

        // If not found, set the selectedProject to the first project in the list

        foreach (var project in listOfProjects)
        {
            if (project.Id != projectPreferenceApiResponse.ProjectId)
            {
                continue;
            }

            // Found the project that matches the projectPreference
            selectedProject = project;
            break;
        }


    }

}



<div class="top-row px-4">
    <div class="m-3 top-row-items">
        <h5 class="text-primary">Select a Project</h5>
        <p>Select from the list to view project details:</p>

        @if (initialRequestLoading)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <select class="form-select" @bind="selectedProject.Id">
                @foreach (var project in listOfProjects)
                {
                    <option value="@project.Id">@project.Name</option>
                }
            </select>
        }


    </div>
</div>
